@layer base {
  body {
    @apply min-w-[250px]  leading-8 duration-300 text-sm text-[#4c4948];
  }
}

@layer components {
  main {
    @apply max-w-6xl flex flex-row  px-10 pt-10 mx-auto;
    .recent-posts {
      @apply w-full flex flex-col gap-6;
      .recent-post-card {
        @apply w-full h-full flex flex-row content-center rounded-brief shadow-brief hover:shadow-brief-hover;
        .recent-post-info {
          @apply w-full p-6 flex flex-col justify-center items-start;
          .article-title {
            @apply w-full text-2xl line-clamp-2  hover:text-blue;
          }
          .post-meta {
            @apply w-full flex flex-col;
            .post-meta-data {
              @apply w-full text-[90%] my-2  text-[#858585];
            }
            .content {
              @apply line-clamp-2;
            }
          }
        }
      }
    }

    .aside-content {
      @apply min-w-[220px] max-w-[300px] flex flex-col ml-7;
      .card-info {
        @apply flex flex-col gap-2 justify-center items-center px-5 py-6 rounded-brief shadow-brief hover:shadow-brief-hover;
        .avatar-img {
          @apply h-28 w-28 rounded-full overflow-hidden;
        }
        .info-data {
          @apply text-xl font-medium;
        }
        .info-description {
          @apply -mt-1;
        }
      }
      .sticky_layout {
        @apply flex flex-col mt-7;
        .card-recent-post {
          @apply rounded-brief shadow-brief hover:shadow-brief-hover px-5 py-6;
          .item-headline {
            @apply text-lg font-medium line-clamp-2;
          }
          .aside-list {
            @apply flex flex-col gap-5 mt-5;
            .aside-list-item {
              .content {
                @apply flex flex-col text-base;
                .time {
                  @apply text-xs text-[#858585];
                }
              }
            }
          }
        }
      }
    }

    .post-card {
      @apply w-full rounded-brief shadow-brief hover:shadow-brief-hover;
      .post {
        @apply w-full px-10 py-12;
        .post-title {
          @apply text-4xl pt-6 pb-4 border-b-[1px] border-solid border-b-gray-light line-clamp-3;
        }
        .post-meta {
          @apply w-full text-[90%] my-2  text-[#858585];
        }

        .post-content h1 {
          @apply text-3xl px-1 py-3 my-3 border-l-[5px] border-solid border-l-[#ed2000];
        }
        .post-content h2 {
          @apply text-xl font-semibold px-1 py-3 my-3 border-l-[5px] border-solid border-l-[#FF1493];
        }
        .post-content h3 {
          @apply px-1 py-3 my-3 border-l-[5px] border-solid border-l-[#4169E1];
        }
        .post-content h4 {
          @apply px-1 py-3 my-3 border-l-[5px] border-solid border-l-[#3CB371];
        }
        .post-content h5 {
          @apply px-1 py-3 my-3 border-l-[5px] border-solid border-l-[#FFC0CB];
        }
        .post-content h6 {
          @apply px-1 py-3 my-3 border-l-[5px] border-solid border-l-[#FFA500];
        }
        .post-content p {
          @apply mb-4;
        }
        .post-content pre {
          @apply bg-gray-light rounded-lg border-[1px] border-solid overflow-auto p-2 break-words mb-6 leading-6;
        }
        .post-content > p code {
          padding: 2px 4px;
          background: rgba(27, 31, 35, 0.05);
          color: #f47466;
        }
      }
    }
  }

  .header {
    @apply w-full h-16 px-9 shadow-brief;
    #blog-name {
      @apply font-bold text-lg;
    }
    .nav {
      @apply h-full flex flex-row justify-between items-center text-sm;
      .menus_items {
        @apply h-full flex flex-row justify-between gap-4;
      }
    }
  }
}
