{%- macro create(page, config) %}
<article
  class="w-full h-full flex content-center rounded-lg shadow-brief hover:shadow-[rgba(7,17,27,0.1)]"
>
  <div class="recent-post-cover"></div>
  <div class="w-full p-6 flex flex-col justify-center items-start">
    <a
      class="w-full text-2xl line-clamp-2 text-blue"
      href="{{ page.permalink | safe }}"
      title="{{ page.title}}"
    >
      {{page.title}}
    </a>
    <div class="w-full flex flex-col">
      <span class="w-full text-sm my-4 text-gray">
        <span>发表于</span>
        <time datetime="{{page.date}}"
          >{{ page.date | date(format="%Y-%m-%d") }}</time
        >
      </span>
      <div class="line-clamp-2">
        {%- if page.description %} {{ page.description | safe }} {%- elif
        page.content %} {{ page.content | striptags | truncate(length=150) |
        safe }} {%- endif %}
      </div>
    </div>
  </div>
</article>
{%- endmacro page_listing %}
