<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- favicon -->
      {% if config.extra.brief_favicon %}
        <link rel="icon" type="image/x-icon" href="{{config.extra.brief_favicon}}">
      {% endif %}
      <!-- CSS -->
      <!-- <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print"> -->
      <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.brief_theme }} {% if config.extra.brief_reverse %}layout-reverse{% endif %}">
      {% block header %}
        <div class="header">
            <nav class="nav">
              <span id="blog-name">
                <a id="site-name" href="/">{{ config.title }}</a>
              </span>
              <div id="menus">
                    <div class="menus_items">
                        {% for item in config.extra.brief_menus -%}
                            <div class="menus_item">
                                {% if config.base_url == "/" %}
                                  <a class="site-page" aria-current="page" href="/{{ item.url }}">{{ item.name }}</a>
                                {% else %}
                                  <a class="site-page" aria-current="page" href="{{ config.base_url }}/{{ item.url }}">{{ item.name }}</a>
                                {% endif %}
                                                            </div>
                        {%- endfor %}
                    </div>
              </div>
            </nav>
        </div>
      {% endblock header %}

      {% block content %}
        <main>
          {% block main %}
            {% block recent_posts %}
            {% endblock recent_posts %}
            
            {% block aside_content %}
            {% endblock aside_content %}
          {% endblock main %}
        </main>
      {% endblock content %}
        

    </body>

</html>